.footer{
  padding: 60px 0 0;
  background: #84A178;

  &__box{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title{
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #FcFCFC;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-bottom: 15px;
    cursor: default;
  }

  &__content{
    font-weight: 700;
    font-size: 58px;
    line-height: 71px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    cursor: default;
  }

  &__right{
    text-align: end;
  }

  &__row{
    display: flex;
    align-items: center;
    justify-content: end;
    column-gap: 30px;
    margin-bottom: 40px;
  }

  &__svg{
    width: 34px;
    height: 34px;
    background: #F8D24E;
    border-radius: 50%;
    position: relative;
    cursor: pointer;

    svg{
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
    }
  }

  &__contact{
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color: #131313;
    letter-spacing: 0.02em;
    cursor: default;
    width: 340px;

    a{
      font-weight: 700;
      font-size: 16px;
      line-height: 30px;
      color: #FcFCFC;
    }
  }

  &__container{
    max-width: 1200px;
    padding: 0 10px;
    text-align: center;
  }

  &__line{
    width: 100%;
    height: 1px;
    margin: 50px 0 10px;
    background: #E1E1E1;
  }

  &__text{
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;
    color: #7A7A7A;
    letter-spacing: 0.02em;
    padding-bottom: 10px;
    cursor: default;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media (max-width: 800px) {
    &__title{
      letter-spacing: 0.04em;
      text-transform: uppercase;
      margin-bottom: 15px;
      font-weight: 400;
      font-size: 3.75vw;
      line-height: 4.50vw;
      cursor: default;
    }

    &__content{
      font-weight: 700;
      font-size: 7.25vw;
      line-height: 8.88vw;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      cursor: default;
    }
  }
  @media (max-width: 715px) {
    &__box{
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      row-gap: 40px;
    }

    &__right{
      width: 100%;
    }

    &__contact{
      font-weight: 700;
      font-size: 16px;
      line-height: 30px;
      color: #131313;
      letter-spacing: 0.02em;
      cursor: default;
      width: 100%;
      text-align: end;

      a{
        font-weight: 700;
        font-size: 16px;
        line-height: 30px;
        color: #FcFCFC;
      }
    }

    &__title{
      font-weight: 400;
      font-size: 26px;
      line-height: 38.6px;
      color: #FcFCFC;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      margin-bottom: 15px;
      cursor: default;
    }

    &__content{
      font-weight: 700;
      font-size: 51.8px;
      line-height: 63.4px;
      color: #FcFCFC;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      cursor: default;
    }
  }
  @media (max-width: 420px) {
    &__line{
      margin: 11.90vw 0 10px;
    }

    &__contact{
      font-weight: 700;
      font-size: 3.81vw;
      line-height: 7.14vw;
      letter-spacing: 0.02em;
      cursor: default;
      width: 100%;
      text-align: end;

      a{
        font-weight: 700;
        font-size: 3.81vw;
        line-height: 7.14vw;
        color: #FcFCFC;
      }
    }

    &__title{
      font-weight: 400;
      font-size: 6.19vw;
      line-height: 9.05vw;
      color: #FcFCFC;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      margin-bottom: 15px;
      cursor: default;
    }

    &__content{
      font-weight: 700;
      font-size: 12.4vw;
      line-height: 15vw;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      cursor: default;
    }
  }
}