.read-modal{
  width: 570px;
  background: #FCFCFC;
  border: 2px solid #F8D24E;
  border-radius: 10px;
  padding: 30px 60px;
  transform: translate(-50%,-50%) scale(0);
  transition: all 0.3s ease;
  opacity: 0;

  &.active{
    transform:translate(-50%,-50%) scale(1);
    opacity: 1;
  }

  &__close{
    position: absolute;
    right: 25px;
    top: 25px;
    cursor: pointer;
  }

  &__title{
    text-align: center;
    font-family: "Seymour One", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #131313;
    margin-bottom: 30px;
    cursor: default;
  }

  &__video{
    width: 100%;
    background: #000000;
    border-radius: 10px;
    height: 205px;
    margin-bottom: 30px;
    position: relative;
    cursor: default;

    svg{
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
    }
  }

  &__content{
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #131313;
    cursor: default;
  }

  @media (max-width: 600px) {
    &{
      width: 95vw;
      background: #FCFCFC;
      border: 2px solid #F8D24E;
      border-radius: 10px;
      padding: 30px 10vw;
      transform: translate(-50%,-50%) scale(0);
      transition: all 0.3s ease;
      opacity: 0;
    }

    &__close{
      position: absolute;
      right: 4.17vw;
      top: 4.17vw;
      cursor: pointer;
    }
  }
  @media (max-width: 420px) {
    &__title{
      text-align: center;
      font-weight: 400;
      font-size: 4.76vw;
      line-height: 6.67vw;
      margin-bottom: 7.14vw;
      cursor: default;
    }

    &__video{
      width: 100%;
      background: #000000;
      border-radius: 10px;
      height: 205px;
      margin-bottom: 7.14vw;
      position: relative;
      cursor: default;
    }

    &__content{
      font-size: 3.81vw;
      font-weight: 400;
      line-height: 5.24vw;
      color: #131313;
      cursor: default;
    }
  }
}